			.originalTextareaInfo {
				font-size: 12px;
				color: #000000;
				font-family: Tahoma, sans-serif;
				text-align: right
			}
			
			.warningTextareaInfo {
				font-size: 12px;
				color: #AAAA00;
				font-family: Tahoma, sans-serif;
				text-align: right
			}
			.errorTextareaInfo {
				font-size: 12px;
				color: #AA0000;
				font-family: Tahoma, sans-serif;
				text-align: right
			}
			
			#showData {
				height: 70px;
				width: 200px;
				border: 1px solid #CCCCCC;
				padding: 10px;
				margin: 10px;
			}


#add_user_form label.error{margin-left:0px;width:auto;display:inline;color: red}
#add_user_form label.error{display:none;margin-left:0px;}

#chartdiv {
	width		: 100%;
	height		: 435px;
	font-size	: 11px;
}	